.board{
    margin-left: 650px;
}
.status{
    font-family: monospace;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    text-shadow: 3px 3px midnightblue;
    margin-bottom: 50px;
    margin-top: 60px;
    background: cornflowerblue;
}

