.square{
    float: left;
    background: rgb(1, 42, 71);
    border: 1px solid snow;
    line-height: 34px;
    width: 120px;
    height: 120px;
    padding: 0;
    text-align: center; 
}

button{
    font-size: 40px;
    color: darkgray
}
